/**
 * @name Breathe.
 * @author unknowenuser_95
 * @version 1.0
 */

:root {
    --background-image: url("https://raw.githubusercontent.com/ULSC-Official/breathe./main/Screenshot%202026-06-26%20153918.png");
}

/* Wallpaper */
#app-mount {
    background: var(--background-image) center/cover fixed no-repeat !important;
}

/* Main Discord areas only */
[class*="chatContent"] {
    background: rgba(0,0,0,0.20) !important;
}

[class*="sidebar_"] {
    background: rgba(0,0,0,0.45) !important;
}

[class*="guilds_"] {
    background: rgba(0,0,0,0.55) !important;
}

[class*="membersWrap"] {
    background: rgba(0,0,0,0.35) !important;
}

[class*="channelTextArea"] {
    background: rgba(0,0,0,0.45) !important;
}


/* DO NOT make settings/popouts transparent */
[class*="layer_"],
[class*="modal_"],
[class*="settings_"],
[class*="userPopout"],
[class*="menu_"],
[class*="focusLock"] {
    background-color: #111214 !important;
}
